.answer {
    margin-bottom: 0px;
}
.answer-input {
    height: 30px;
    font-family: 'Chivo Mono', monospace;
    margin-bottom: 5px;
}
.check-button {
    /* height: 2rem; */
    margin-bottom: 25px;
    font-family: 'Chivo Mono', monospace;
    padding: 10px 25px;
}
.msg {
    padding-top: 30px;
    color : red;
}