.leveledit {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
    padding-bottom: 100px;
}
.mainpicdiv {
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    grid-column-start: 2;
    grid-column-end: 9;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 15px;
}

.main-form {
    grid-column-start: 2;
    grid-column-end: 9;
    margin-bottom: 15px;
}

.form-part {
    border-radius: 5px;
    padding : 20px;
    background-color: rgb(213, 213, 32);
    margin-bottom: 20px;
}
textarea {
    width: 100%;
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
    background-color: white;
    border: 0px;
    border-radius: 5px;
}

.answers {
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
    width: 100%;
    background-color: white;
    border: 0px;
    border-radius: 5px;
}

.delBtn {
    grid-column-start: 7;
    grid-column-end: 9;
    background-color: red;
}
button {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 0px;
    background-color: orange;
}

.discardBtn {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: yellow;
}

.editBtn {
    position: relative;
    width: 28.5%;
    left: 71.5%
}

.delimage {
    position: absolute;
    width: 28.5%;
    right: 10px;
    top: 10px
}
@media only screen and (max-width: 600px) {
    .leveledit {
        grid-template-columns: repeat(9, 1fr);
    }
}